%section#main
	.cover 
		%h1.cover-title Better Place is Coming Soon
		%h3.cover-subtitle We're launching the first sustainable alternative to cemeteries. We incorporate ashes into the soil of an existing tree in one of the most beautiful places on earth.
		#form-wrapper
			= render "form"
			%small * No spam. Just updates on our first park in Yosemite. 

